# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env files
.env
server/.env
client/.env

# build files
dist/
client/dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# uploads later
uploads/
server/uploads/